<div class="main-container">
    <div class="createUser" routerLink="../createuser">
        <h3>Create a User</h3>
    </div>


    <div class="user" *ngFor="let user of users | async" [routerLink]="['../user', user._id]">
        <div class="title">
            <h3>{{user.title}}</h3>
        </div>
        <div class="body">
            <p>{{user.description}}
            </p>
        </div>
        <div class="user-detail">
            <div class="user">
                <h4>Created By:&nbsp;</h4>
                <h4 *ngIf="user.user == null">No User Found
                </h4>
                <h4 *ngIf="user.user != null">
                    <h4 *ngIf="user.user.name != null">{{user.user.name}}</h4>
                    <h4 *ngIf="user.user.name == null">No User Name Found</h4>
                </h4>
            </div>
            <div class="date">
                <h4>Updated on:&nbsp;</h4>
                <h4>{{(user.updated_at | date) || 'No User Found'}}</h4>
            </div>
        </div>
    </div>
</div>