h4 {
    display: inline-block;
}

.main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.createUser {
    box-shadow: 0 2px 2px #0a10143d, 0 0 2px #0a10141f;
    transition: box-shadow 0.5s;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    background-color: #1976d21a;
}

.user {
    display: flex;
    flex-direction: column;
    width: 80%;
    box-shadow: 0 2px 2px #0a10143d, 0 0 2px #0a10141f;
    transition: box-shadow 0.5s;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.title,
.body {
    border-bottom: 1px solid #DBDBDB;
    padding: 10px;
}



.title {
    background-color: #1976d21a;
    text-transform: capitalize;
}


.user-detail {
    display: flex;
    background-color: #1976d21a
}

.user {
    border-right: 1px solid #DBDBDB;
    padding: 10px;
}

.date {
    padding: 10px;
}

.user-detail>div {
    flex-basis: 50%;
    text-transform: capitalize;
}

.user:hover {
    box-shadow: 0 8px 8px #0a10143d, 0 0 8px #0a10141f;
}

.createUser:hover {
    box-shadow: 0 8px 8px #0a10143d, 0 0 8px #0a10141f;
}