.menu {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #3f51b5;
    color: white;

}

.na-brand {
    flex-basis: 40%;
    font-size: 18px;
}

.na-item1 {
    flex-basis: 40%;
    
    align-items: center;
}
.na-item2 {
    flex-basis: 20%;
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    cursor: pointer;
}


.input {
    padding: 5px 10px;
    margin-right: 20px;
    font-size: 17px;
    width: 40%;
}
h3 {
    text-transform: capitalize;
}