<div class="content">
    <h1>This is Aboutus Component</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, numquam ratione. Commodi quidem ex cum tempore?
        Suscipit, harum enim, aliquid accusamus inventore doloremque maiores dolore excepturi quas a, itaque placeat
        quia facere eaque qui modi velit omnis. Laborum, excepturi enim. Labore, deserunt doloribus quisquam quibusdam
        accusamus ad tempore praesentium numquam provident, similique dolor aut vero nobis obcaecati adipisci neque
        beatae. Eveniet veniam atque nulla dolores, quae eligendi repellendus expedita, ab, laborum nisi totam eius.
        Accusantium quis, perferendis amet eum, impedit voluptatum eos minima repellendus magni nostrum architecto
        corrupti et iste, obcaecati incidunt aperiam odio veritatis officia explicabo! Praesentium, facere
        necessitatibus.</p>
</div>