<div class="sidebar">
    <div class="sidebar-item" routerLink="dashboard" routerLinkActive="active">
        <i class="fa-solid fa-gauge"></i>&nbsp;&nbsp;&nbsp;<h3>Dashboard</h3>
    </div>
    <div class="sidebar-item" routerLink="customer" routerLinkActive="active">
        <i class="fa-solid fa-person-military-pointing"></i>&nbsp;&nbsp;&nbsp;<h3>Customer</h3>
    </div>
    <div class="sidebar-item" routerLink="users" routerLinkActive="active">
        <i class="fa-solid fa-user-group"></i>&nbsp;&nbsp;&nbsp;<h3>Users</h3>
    </div>
    <div class="sidebar-item" routerLink="account" routerLinkActive="active">
        <i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;<h3>Account</h3>
    </div>
    <div class="sidebar-item" routerLink="product" routerLinkActive="active">
        <i class="fa-brands fa-product-hunt"></i>&nbsp;&nbsp;&nbsp;<h3>Products</h3>
    </div>
    <div class="sidebar-item" routerLink="contactus" routerLinkActive="active">
        <i class="fa-solid fa-address-book"></i>&nbsp;&nbsp;&nbsp;<h3>Contact Us</h3>
    </div>
    <div class="sidebar-item" routerLink="aboutus" routerLinkActive="active">
        <i class="fa-regular fa-address-card" routerLink="aboutus"></i>&nbsp;&nbsp;&nbsp;<h3>About Us</h3>
    </div>
    <div class="sidebar-item">
        <i class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;&nbsp;<h3>Sign Out</h3>
    </div>
</div>